<!DOCTYPE HTML>
<html>
<head>
<link rel='stylesheet' href='/static/stylesheet.css' type='text/css' />
<title> UMass Prosody Fieldwork </title>
</head>
<body>

<h1>UMass Linguistics Database of Fieldwork on Prosody</h1>

This database contains recordings and metadata from Kristine Yu's
fieldwork on tone and prosody. If you would like to add data to it,
please contact Kristine at krisyu@linguist.umass.edu.

You can filter the recordings with the checkboxes shown above the data.
The filters are grouped by attribute and there is a checkbox for each
value that attribute can have. When you click Filter, recordings that have
any values that have been left unchecked will be filtered out of the results.

</body>
</html>

